{% extends "layout.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
      <div id="content" class="centered">
        <img src="{{ request.script_name }}static/throbber.gif"></img>
        <h1>Creating your account...</h1>
      </div>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
     (function () {
         var count = 0;

         function callback (data) {
             if (data.state == "created") {
                 window.location = window.location.href;
             }
             if (count > 10) {
                 $("#content").empty().html("<img src='{{ request.script_name }}static/error.png'></img><h1>There was a problem creating your account.</h1><p>Please contact <a href='{{ support_url }}'>support</a> for further details.</p>");
                 clearInterval(intervalID);
             }
             count += 1;
         };

         var intervalID = setInterval(function(){
             $.ajax({
                 url: "{{ request.script_name }}account_status",
                 dataType: "json",
                 success: callback});
         }, 2000);
     })();
    </script>
  </div>
{% endblock %}
