{% extends "layout.html" %}

{% block content %}
    <div class="container">
      <div id="content" class="centered">
        <img src="{{ request.script_name }}static/throbber.gif"></img>
        <h1>Starting R-Studio...</h1>
      </div>
    </div>
    <form name="loginform" method="POST" action="/rstudio/auth-do-sign-in">
      <input type='hidden' name='username' value='{{ username }}' id='username'/>
      <input type='hidden' name='password' value='{{ password }}' id='password'/>
    </form>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
      document.loginform.submit();
    </script>
{% endblock %}
